[mysqld]
# UTF8MB4 zbog emojija/specijalnih znakova u Airflow metapodacima
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci


# Stabilniji timestamp default-i
explicit_defaults_for_timestamp = 1


# Preporučeno za pouzdane transakcije
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT


# SQL mod bez ONLY_FULL_GROUP_BY (nije neophodno, ali izbegava čudne upite)
sql_mode = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
